img{
	max-width: 100%;
	height: auto;
}

.menuItem{
	margin: 10px;
	background: #4270f0;
	width: 300px;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
}

.menuItem__image{
	display: none; /* block */
	margin-bottom: 10px;
}

.menuItem__link{
	color: #fff;
	text-decoration: none;
	font-size: 22px;
}

.menuItem__link::before, .menuItem__link::after{
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	opacity: 0;
	transition: opacity 0.5s, transform 0.5s;
}

.menuItem__link::before{
	border-right: 16px solid #fff;
	transform: translateX(-40px);
}

.menuItem__link::after{
	border-left: 16px solid #fff;
	transform: translateX(40px);
}

.menuItem:hover .menuItem__link::before, .menuItem:hover .menuItem__link::after{
	opacity: 1;
}

.menuItem__link:hover::before{
	transform: translateX(-10px) rotate(180deg);
}

.menuItem__link:hover::after{
	transform: translateX(10px) rotate(-180deg);
}

@media screen and (min-width: 900px){
	.menuItem{
		display: inline-block;
	}

	.menuItem__image{
		display: block;
	}
}